# Virtual environment
venv/
venv-old/

# Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# macOS
.DS_Store

# VS Code settings
.vscode/

# Model files
*.h5
*.keras
!artifacts/model.keras
*.ckpt

# Logs
*.log

# Environment files
.env